<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.mq.admin.dao.IXxlCommonRegistryDao" >
	
	<resultMap id="xxlCommonRegistry" type="com.xxl.mq.admin.core.model.XxlCommonRegistry" >
		<result column="id" property="id" />
		<result column="key" property="key" />
		<result column="data" property="data" />
	</resultMap>

	<sql id="Base_Column_List">
		t.`id`,
		t.`key`,
		t.`data`
	</sql>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="xxlCommonRegistry">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_MQ_COMMON_REGISTRY AS t
		ORDER BY t.key ASC
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="load" parameterType="java.util.HashMap" resultMap="xxlCommonRegistry">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_MQ_COMMON_REGISTRY AS t
		WHERE t.`key` = #{key}
	</select>

	<insert id="add" parameterType="com.xxl.mq.admin.core.model.XxlCommonRegistry" >
		INSERT INTO XXL_MQ_COMMON_REGISTRY (
			`key`,
			`data`
		) VALUES
		(
			#{xxlCommonRegistry.key},
			#{xxlCommonRegistry.data}
		)
	</insert>

	<update id="update" parameterType="com.xxl.mq.admin.core.model.XxlCommonRegistry"  >
		UPDATE XXL_MQ_COMMON_REGISTRY AS t
		SET
			t.`data` = #{xxlCommonRegistry.data}
		WHERE t.`id` = #{xxlCommonRegistry.id}
	</update>

	<delete id="cleanDead" parameterType="java.util.HashMap" >
		DELETE FROM XXL_MQ_COMMON_REGISTRY
		WHERE `key` not in (
			select distinct `key`
			from XXL_MQ_COMMON_REGISTRY_DATA
		)
	</delete>

</mapper>