<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QueueMessageMapper">
	
	<resultMap type="com.xxl.core.model.QueueMessage" id="QueueMessage" >
	    <id column="id" property="id" />
	    <result column="queue_name" property="queueName" />
	    <result column="invoke_request" property="invokeRequest" />
	    <result column="effect_time" property="effectTime" />
	    <result column="status" property="status" />
	    <result column="retry_count" property="retryCount" />
	    <result column="retry_count_log" property="retryCountLog" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id,
		t.queue_name,
		t.invoke_request,
		t.effect_time,
		t.status,
		t.retry_count,
		t.retry_count_log
	</sql>
	
	<insert id="insert" parameterType="com.xxl.core.model.QueueMessage" >
		INSERT INTO xxlmq_queue_message(queue_name, invoke_request, effect_time, status, retry_count, retry_count_log)
		VALUES(#{queueName}, #{invokeRequest}, #{effectTime}, #{status}, #{retryCount}, 0)
	</insert>
	
	<select id="selectList" parameterType="java.util.HashMap" resultMap="QueueMessage">
		SELECT <include refid="Base_Column_List" />
		FROM xxlmq_queue_message AS t
		WHERE status != #{successStatus} 
			AND retry_count <![CDATA[ > ]]> 0
			AND effect_time <![CDATA[ < ]]> NOW()
		ORDER BY t.id desc
		LIMIT #{pagesize}
	</select>
	
	<update id="descRetryCount" parameterType="java.util.HashMap" >
		<![CDATA[
			UPDATE xxlmq_queue_message
			SET retry_count = retry_count - 1,
				status = #{successStatus},
				retry_count_log = retry_count_log + 1 
			WHERE id = #{id}
				and retry_count - 1 >= 0
				and status != #{successStatus}
		]]>
	</update>
	
	<update id="updateStatus">
		UPDATE xxlmq_queue_message
			SET status = #{status}
			WHERE id = #{id}
	</update>
	
	<delete id="cleanSuccessQueueMessage">
		DELETE FROM xxlmq_queue_message
		WHERE status = 1
	</delete>
	
	<select id="selectListQueueByConsumer" parameterType="java.util.HashMap" resultMap="QueueMessage">
		SELECT <include refid="Base_Column_List" />
		FROM xxlmq_queue_message AS t
		WHERE status != #{successStatus} 
			AND retry_count <![CDATA[ > ]]> 0
			AND effect_time <![CDATA[ < ]]> NOW()
			AND MOD(id, #{count}) = #{rank}
		ORDER BY t.id desc
		LIMIT #{pagesize}
	</select>
	
</mapper>