<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QueueConsumerMapper">
	
	<resultMap type="com.xxl.core.model.QueueConsumer" id="QueueConsumer" >
	    <id column="id" property="id" />
	    <result column="queue_name" property="queueName" />
	    <result column="consumer_uuid" property="consumerUuid" />
	    <result column="update_time" property="updateTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id,
		t.queue_name,
		t.consumer_uuid,
		t.update_time
	</sql>
	
	<update id="freshQueueConsumer" parameterType="java.util.HashMap" >
		UPDATE xxlmq_queue_consumer
		SET update_time = NOW()
		WHERE queue_name= #{queueName}
			AND consumer_uuid = #{consumerUuid}
	</update>
	
	<insert id="addQueueConsumer" parameterType="java.util.HashMap" >
		INSERT INTO `xxlmq_queue_consumer` (`queue_name`, `consumer_uuid`, `update_time`) 
		VALUES (#{queueName}, #{consumerUuid}, NOW());
	</insert>
	
	<select id="getQueueConsumerRank" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
		SELECT * FROM (
			SELECT *,
				(@rownum := @rownum + 1) rank, 
				(SELECT COUNT(id) FROM xxlmq_queue_consumer) as count
			FROM xxlmq_queue_consumer, 
				(SELECT @rownum := -1) r
			ORDER BY id DESC
		) AS t2 
		WHERE queue_name = #{queueName} 
			AND consumer_uuid = #{consumerUuid}
	</select>
	
	
	<delete id="cleanDeadQueueConsumer" parameterType="java.lang.Integer" >
		DELETE FROM xxlmq_queue_consumer
		WHERE update_time <![CDATA[ < ]]> DATE_ADD(NOW(),INTERVAL -#{lifetime} SECOND)
	</delete>
	
</mapper>