<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TopicLogMapper">
	
	<resultMap type="com.xxl.core.model.TopicLog" id="TopicLog" >
	    <id column="id" property="id" />
	    <result column="topic_message_id" property="topicMessageId" />
	    <result column="consumer_uuid" property="consumerUuid" />
	    <result column="log_time" property="logTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id,
		t.topic_message_id,
		t.consumer_uuid,
		t.log_time
	</sql>
	
	<insert id="insert" parameterType="com.xxl.core.model.TopicLog" >
		INSERT INTO xxlmq_topic_log(topic_message_id, consumer_uuid, log_time)
		VALUES(#{topicMessageId}, #{consumerUuid}, #{logTime})
	</insert>
	
	<delete id="cleanDeadTopic" parameterType="java.lang.Integer">
		DELETE FROM xxlmq_topic_log
		WHERE log_time <![CDATA[ < ]]> DATE_ADD(NOW(),INTERVAL -#{lifetime} SECOND)
	</delete>
		
</mapper>