<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.mq.admin.mapper.ApplicationMapper">

    <resultMap id="Application" type="com.xxl.mq.admin.model.entity.Application" >
        <result column="id" property="id" />
        <result column="appname" property="appname" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <result column="registry_data" property="registryData" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.`id`,
        t.`appname`,
        t.`name`,
        t.`desc`,
        t.`registry_data`,
        t.`add_time`,
        t.`update_time`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO xxl_mq_application (
            `appname`,
            `name`,
            `desc`,
            `registry_data`,
            `add_time`,
            `update_time`
        )
        VALUES(
                  #{application.appname} ,
                  #{application.name} ,
                  #{application.desc} ,
                  #{application.registryData} ,
                  NOW() ,
                  NOW()
              )
    </insert>

    <insert id="insertIgnoreRepeat" parameterType="java.util.Map" >
        INSERT IGNORE INTO xxl_mq_application (
            `appname`,
            `name`,
            `desc`,
            `registry_data`,
            `add_time`,
            `update_time`
        )
        VALUES(
                  #{application.appname} ,
                  #{application.name} ,
                  #{application.desc} ,
                  #{application.registryData} ,
                  NOW() ,
                  NOW()
              )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM xxl_mq_application
        WHERE `id` in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE xxl_mq_application
        SET
            `name` = #{application.name},
            `desc` = #{application.desc},
            `registry_data` = #{application.registryData},
            `update_time` = NOW()
        WHERE `id` = #{application.id}
    </update>

    <select id="load" parameterType="java.util.Map" resultMap="Application">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_application AS t
        WHERE t.`id` = #{id}
    </select>

    <select id="loadByAppName" parameterType="java.util.Map" resultMap="Application">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_application AS t
        WHERE t.`appname` = #{appname}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Application">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_application AS t
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_mq_application AS t
    </select>

    <select id="findAll" parameterType="java.util.Map" resultMap="Application">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_application AS t
        ORDER BY t.`appname` ASC
    </select>

    <select id="queryRelateTopicCoutByIds" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_mq_topic AS t
        WHERE t.`appname` in(
            select `appname`
            from xxl_mq_application
            where `id` in
            <foreach collection="ids" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        )
    </select>

</mapper>
