<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.mq.admin.mapper.InstanceMapper">

    <resultMap id="Instance" type="com.xxl.mq.admin.model.entity.Instance" >
        <result column="id" property="id" />
        <result column="appname" property="appname" />
        <result column="uuid" property="uuid" />
        <result column="register_heartbeat" property="registerHeartbeat" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.`id`,
        t.`appname`,
        t.`uuid`,
        t.`register_heartbeat`,
        t.`add_time`,
        t.`update_time`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO xxl_mq_instance (
            `appname`,
            `uuid`,
            `register_heartbeat`,
            `add_time`,
            `update_time`
        )
        VALUES(
              #{instance.appname} ,
              #{instance.uuid} ,
              #{instance.registerHeartbeat} ,
              NOW() ,
              NOW()
          )
    </insert>

    <insert id="insertOrUpdate" parameterType="java.util.Map" >
        INSERT INTO xxl_mq_instance (
            `appname`,
            `uuid`,
            `register_heartbeat`,
            `add_time`,
            `update_time`
        )
        VALUES(
                  #{instance.appname} ,
                  #{instance.uuid} ,
                  #{instance.registerHeartbeat} ,
                  NOW() ,
                  NOW()
              )
        ON DUPLICATE KEY UPDATE
            `register_heartbeat` = #{instance.registerHeartbeat},
            `update_time` = NOW()
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM xxl_mq_instance
        WHERE `id` in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </delete>

    <delete id="deleteInstance" parameterType="java.util.Map" >
        DELETE FROM xxl_mq_instance
        WHERE `appname` = #{instance.appname}
            AND `uuid` = #{instance.uuid}
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE xxl_mq_instance
        SET
            `appname` = #{instance.appname},
            `uuid` = #{instance.uuid},
            `register_heartbeat` = #{instance.registerHeartbeat},
            `update_time` = NOW()
        WHERE `id` = #{instance.id}
    </update>

    <select id="load" parameterType="java.util.Map" resultMap="Instance">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_instance AS t
        WHERE t.`id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Instance">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_instance AS t
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_mq_instance AS t
    </select>

    <select id="queryOnlineInstance" parameterType="java.util.Map" resultMap="Instance">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_instance AS t
        WHERE t.`register_heartbeat` <![CDATA[ >= ]]>  #{effectiveTime}
        ORDER BY t.`register_heartbeat` DESC
    </select>

</mapper>
