<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.mq.admin.mapper.MessageMapper">

    <resultMap id="Message" type="com.xxl.mq.admin.model.entity.Message" >
        <result column="id" property="id" />
        <result column="topic" property="topic" />
        <result column="group" property="group" />
        <result column="partition_id" property="partitionId" />
        <result column="data" property="data" />
        <result column="status" property="status" />
        <result column="effect_time" property="effectTime" />
        <result column="consume_log" property="consumeLog" />
        <result column="consume_instance_uuid" property="consumeInstanceUuid" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.`id`,
        t.`topic`,
        t.`group`,
        t.`partition_id`,
        t.`data`,
        t.`status`,
        t.`effect_time`,
        t.`consume_log`,
        t.`consume_instance_uuid`,
        t.`add_time`,
        t.`update_time`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO xxl_mq_message (
            `topic`,
            `group`,
            `partition_id`,
            `data`,
            `status`,
            `effect_time`,
            `consume_log`,
            `consume_instance_uuid`,
            `add_time`,
            `update_time`
        )
        VALUES(
                  #{message.topic} ,
                  #{message.group} ,
                  #{message.partitionId} ,
                  #{message.data} ,
                  #{message.status} ,
                  #{message.effectTime} ,
                  #{message.consumeLog} ,
                  #{message.consumeInstanceUuid} ,
                  NOW() ,
                  NOW()
              )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM xxl_mq_message
        WHERE `id` in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE xxl_mq_message
        SET
            `data` = #{message.data},
            `status` = #{message.status},
            `effect_time` = #{message.effectTime},
            `consume_log` = #{message.consumeLog},
            `consume_instance_uuid` = #{message.consumeInstanceUuid},
            `update_time` = NOW()
        WHERE `id` = #{message.id}
    </update>

    <select id="load" parameterType="java.util.Map" resultMap="Message">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_message AS t
        WHERE t.`id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Message">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_message AS t
        WHERE t.`topic` = #{topic}
            <if test="status gt -1">
                AND t.status = #{status}
            </if>
            <if test="effectTimeStart != null">
                AND t.effect_time <![CDATA[ >= ]]> #{effectTimeStart}
            </if>
            <if test="effectTimeEnd != null">
                AND t.effect_time <![CDATA[ <= ]]> #{effectTimeEnd}
            </if>
        ORDER BY t.`effect_time` DESC
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_mq_message AS t
        WHERE t.`topic` = #{topic}
            <if test="status gt -1">
                AND t.status = #{status}
            </if>
            <if test="effectTimeStart != null">
                AND t.effect_time <![CDATA[ >= ]]> #{effectTimeStart}
            </if>
            <if test="effectTimeEnd != null">
                AND t.effect_time <![CDATA[ <= ]]> #{effectTimeEnd}
            </if>
    </select>

    <select id="queryByStatus" parameterType="java.util.Map" resultMap="Message">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_mq_message AS t
        WHERE t.`topic` = #{topic}
            AND t.`status` in
            <foreach collection="archiveStatusList" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        ORDER BY t.`id` ASC
        LIMIT #{pageSize}
    </select>

</mapper>
