<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util 
           http://www.springframework.org/schema/util/spring-util.xsd">
           
	<!-- connectionFactory -->
	<bean id="xxlMqConnectionFactory" class="com.xxl.mq.factory.ConnectionFactory">
		<property name="messageService" ref="messageService" />
	</bean>
	
	<!-- popic producer -->
	<bean id="topic01Producer" class="com.xxl.mq.client.MessageProducer">
		<property name="connectionFactory" ref="xxlMqConnectionFactory" />
		<property name="destination">
			<bean class="com.xxl.mq.destination.impl.Topic">
				<constructor-arg value="topic_01" />
			</bean>
		</property>
	</bean>
	
	<!-- queue producer -->
	<bean id="queue01Producer" class="com.xxl.mq.client.MessageProducer">
		<property name="connectionFactory" ref="xxlMqConnectionFactory" />
		<property name="destination">
			<bean class="com.xxl.mq.destination.impl.Queue">
				<constructor-arg value="queue_01" />
			</bean>
		</property>
	</bean>
	
</beans>